 .editorClassName {
  height: 200px;
  width: 100%;
  overflow: hidden;
  background-color: #FFFF;
}

.wrapperClassName {
  height: 330px;
  width: 100%;
  margin-bottom: 125px;
}


.toolbarClassName {
  margin-bottom: 56px;
}
